In [9]:
import pandas as pd

In [6]:
train = pd.read_csv("california-house-prices/train.csv")

In [3]:
train.head()

,Id,Address,Sold Price,Summary,Type,Year built,Heating,Cooling,Parking,Lot,...,Parking features,Tax assessed value,Annual tax amount,Listed On,Listed Price,Last Sold On,Last Sold Price,City,Zip,State
0,0,540 Pine Ln,3825000.0,"540 Pine Ln, Los Altos, CA 94022 is a single f...",SingleFamily,1969.0,"Heating - 2+ Zones, Central Forced Air - Gas","Multi-Zone, Central AC, Whole House / Attic Fan","Garage, Garage - Attached, Covered",1.0,...,"Garage, Garage - Attached, Covered",886486.0,12580.0,2019-10-24,4198000.0,NaN,NaN,Los Altos,94022,CA
1,1,1727 W 67th St,505000.0,"HURRY, HURRY.......Great house 3 bed and 2 bat...",SingleFamily,1926.0,Combination,"Wall/Window Unit(s), Evaporative Cooling, See ...","Detached Carport, Garage",4047.0,...,"Detached Carport, Garage",505000.0,6253.0,2019-10-16,525000.0,2019-08-30,328000.0,Los Angeles,90047,CA
2,2,28093 Pine Ave,140000.0,'THE PERFECT CABIN TO FLIP! Strawberry deligh...,SingleFamily,1958.0,Forced air,NaN,0 spaces,9147.0,...,NaN,49627.0,468.0,2019-08-25,180000.0,NaN,NaN,Strawberry,95375,CA
3,3,10750 Braddock Dr,1775000.0,Rare 2-story Gated 5 bedroom Modern Mediterran...,SingleFamily,1947.0,Central,Central Air,"Detached Carport, Driveway, Garage - Two Door",NaN,...,"Detached Carport, Driveway, Garage - Two Door",1775000.0,20787.0,2019-10-24,1895000.0,2016-08-30,1500000.0,Culver City,90230,CA
4,4,7415 O Donovan Rd,1175000.0,Beautiful 200 acre ranch land with several pas...,VacantLand,NaN,NaN,NaN,0 spaces,NaN,...,NaN,NaN,NaN,2019-06-07,1595000.0,2016-06-27,900000.0,Creston,93432,CA

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47439 entries, 0 to 47438
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           47439 non-null  int64
 1   Address                      47439 non-null  object
 2   Sold Price                   47439 non-null  float64
 3   Summary                      47089 non-null  object
 4   Type                         47439 non-null  object
 5   Year built                   46394 non-null  float64
 6   Heating                      40974 non-null  object
 7   Cooling                      36817 non-null  object
 8   Parking                      46531 non-null  object
 9   Lot                          33258 non-null  float64
 10  Bedrooms                     44567 non-null  object
 11  Bathrooms                    43974 non-null  float64
 12  Full bathrooms               39574 non-null  float64
 13  Total interior livable area  44913 non-null  float64
 14  Total spaces                 46523 non-null  float64
 15  Garage spaces                46522 non-null  float64
 16  Region                       47437 non-null  object
 17  Elementary School            42697 non-null  object
 18  Elementary School Score      42543 non-null  float64
 19  Elementary School Distance   42697 non-null  float64
 20  Middle School                30735 non-null  object
 21  Middle School Score          30734 non-null  float64
 22  Middle School Distance       30735 non-null  float64
 23  High School                  42439 non-null  object
 24  High School Score            42220 non-null  float64
 25  High School Distance         42438 non-null  float64
 26  Flooring                     35875 non-null  object
 27  Heating features             40274 non-null  object
 28  Cooling features             35657 non-null  object
 29  Appliances included          33997 non-null  object
 30  Laundry features             33315 non-null  object
 31  Parking features             43131 non-null  object
 32  Tax assessed value           43787 non-null  float64
 33  Annual tax amount            43129 non-null  float64
 34  Listed On                    47439 non-null  object
 35  Listed Price                 47439 non-null  float64
 36  Last Sold On                 29673 non-null  object
 37  Last Sold Price              29673 non-null  float64
 38  City                         47439 non-null  object
 39  Zip                          47439 non-null  int64
 40  State                        47439 non-null  object
dtypes: float64(18), int64(2), object(21)
memory usage: 14.8+ MB

In [5]:
train.isna().sum().sort_values(ascending=True)

Id                                 0
City                               0
Listed Price                       0
Listed On                          0
Zip                                0
State                              0
Address                            0
Sold Price                         0
Type                               0
Region                             2
Summary                          350
Parking                          908
Total spaces                     916
Garage spaces                    917
Year built                      1045
Total interior livable area     2526
Bedrooms                        2872
Bathrooms                       3465
Tax assessed value              3652
Parking features                4308
Annual tax amount               4310
Elementary School               4742
Elementary School Distance      4742
Elementary School Score         4896
High School                     5000
High School Distance            5001
High School Score               5219
Heating                         6465
Heating features                7165
Full bathrooms                  7865
Cooling                        10622
Flooring                       11564
Cooling features               11782
Appliances included            13442
Laundry features               14124
Lot                            14181
Middle School Distance         16704
Middle School                  16704
Middle School Score            16705
Last Sold On                   17766
Last Sold Price                17766
dtype: int64

In [6]:
adres = train['Address']

In [ ]:

from googlemaps import Client as GoogleMaps
import googlemaps
import gmaps

In [13]:
gmaps = googlemaps.Client(key='') # Api geocoding key

In [42]:
addres = train['Address']

'922 E Channel St'

In [36]:
latitude = []
longitude = []

In [106]:
train['complet_addres'] = train['Address'] +', '+ train['City'] + ', '+train['State'] +" "+train['Zip'].astype("str")

In [110]:
train['complet_addres']

In [115]:
train["new_add"] = train['complet_addres'].apply(gmaps.geocode)

In [212]:
def lat(x):
    if len(x)>0:
        return  x[0]['geometry']['location']['lat']

In [215]:
def long(x):
    if len(x)>0:
        return x[0]['geometry']['location']['lng']

In [214]:
train_v2 = train_v1.drop(columns='latitude')

In [216]:
train_v2['latitude'] = train_v2['new_add'].apply(lat)
train_v2['longitude'] = train_v2['new_add'].apply(long)

In [219]:
train_v2.isna().sum().sort_values()

Id                                 0
Address                            0
Sold Price                         0
new_add                            0
Type                               0
complet_addres                     0
State                              0
Zip                                0
City                               0
Listed Price                       0
Listed On                          0
latitude                           1
longitude                          1
Region                             2
Summary                          350
Parking                          908
Total spaces                     916
Garage spaces                    917
Year built                      1045
Total interior livable area     2526
Bedrooms                        2872
Bathrooms                       3465
Tax assessed value              3652
Parking features                4308
Annual tax amount               4310
Elementary School               4742
Elementary School Distance      4742
Elementary School Score         4896
High School                     5000
High School Distance            5001
High School Score               5219
Heating                         6465
Heating features                7165
Full bathrooms                  7865
Cooling                        10622
Flooring                       11564
Cooling features               11782
Appliances included            13442
Laundry features               14124
Lot                            14181
Middle School                  16704
Middle School Distance         16704
Middle School Score            16705
Last Sold Price                17766
Last Sold On                   17766
dtype: int64

In [218]:
train_v2.to_csv("california-house-prices/train_geo.csv")

In [226]:
train_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47439 entries, 0 to 47438
Data columns (total 45 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           47439 non-null  int64
 1   Address                      47439 non-null  object
 2   Sold Price                   47439 non-null  float64
 3   Summary                      47089 non-null  object
 4   Type                         47439 non-null  object
 5   Year built                   46394 non-null  float64
 6   Heating                      40974 non-null  object
 7   Cooling                      36817 non-null  object
 8   Parking                      46531 non-null  object
 9   Lot                          33258 non-null  float64
 10  Bedrooms                     44567 non-null  object
 11  Bathrooms                    43974 non-null  float64
 12  Full bathrooms               39574 non-null  float64
 13  Total interior livable area  44913 non-null  float64
 14  Total spaces                 46523 non-null  float64
 15  Garage spaces                46522 non-null  float64
 16  Region                       47437 non-null  object
 17  Elementary School            42697 non-null  object
 18  Elementary School Score      42543 non-null  float64
 19  Elementary School Distance   42697 non-null  float64
 20  Middle School                30735 non-null  object
 21  Middle School Score          30734 non-null  float64
 22  Middle School Distance       30735 non-null  float64
 23  High School                  42439 non-null  object
 24  High School Score            42220 non-null  float64
 25  High School Distance         42438 non-null  float64
 26  Flooring                     35875 non-null  object
 27  Heating features             40274 non-null  object
 28  Cooling features             35657 non-null  object
 29  Appliances included          33997 non-null  object
 30  Laundry features             33315 non-null  object
 31  Parking features             43131 non-null  object
 32  Tax assessed value           43787 non-null  float64
 33  Annual tax amount            43129 non-null  float64
 34  Listed On                    47439 non-null  object
 35  Listed Price                 47439 non-null  float64
 36  Last Sold On                 29673 non-null  object
 37  Last Sold Price              29673 non-null  float64
 38  City                         47439 non-null  object
 39  Zip                          47439 non-null  int64
 40  State                        47439 non-null  object
 41  complet_addres               47439 non-null  object
 42  new_add                      47439 non-null  object
 43  latitude                     47438 non-null  float64
 44  longitude                    47438 non-null  float64
dtypes: float64(20), int64(2), object(23)
memory usage: 16.3+ MB